*.pyc
*.npy
*.csv
*comparison.txt

__pycache__
examples/data/*
old
logs
MAGICKAL_lite
hydro
tmp
hydro.py
read_feature_matrix.ipynb
examples/kida_all_tracers_jax.py
.gitignore
examples/kida_all_tracers_mpi.py
examples/kida_uva_2024_tracer_jax.py
examples/nelson_all_tracers_jax.py
examples/nelson_all_tracers_mpi.py
examples/real_tracer_jax.py
solver_jax.py
.gitignore
